<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SGB</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-heading px-3 mt-3">
            Movimentação
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emprestimos">
                <span class="oi oi-transfer" aria-hidden="true"></span> Realizar Empréstimo
            </NavLink>
        </div>

        <div class="nav-heading px-3 mt-3">
            Cadastros
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leitores">
                <span class="oi oi-people" aria-hidden="true"></span> Leitores
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="livros">
                <span class="oi oi-book" aria-hidden="true"></span> Livros
            </NavLink>
        </div>

        <div class="nav-heading px-3 mt-3">
            Consultas e Relatórios
        </div>

        <div class="nav-item px-4">
            <NavLink class="nav-link" href="consulta-acervo">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Consultar Acervo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorio/populares">
                <span class="oi oi-star" aria-hidden="true"></span> Livros Populares
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorio/pendentes">
                <span class="oi oi-clock" aria-hidden="true"></span> Empréstimos Pendentes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relatorios">
                <span class="oi oi-document" aria-hidden="true"></span> Gerar Relatórios PDF
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-heading px-3 mt-3">
                    Minha Conta
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="oi oi-person" aria-hidden="true"></span> Meu Perfil
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}